body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;;
}

.fond{
    background-image: linear-gradient(to left, rgba(0,0,0,.2), rgba(0,0,0,.2)), url("../image/montagne.png");
    background-size: cover;
    padding-bottom: 16.5em;
}

.connexion{
    padding-top: 10em;
}

.formulaire{
    margin-left: 42em;
}
h1{
    font-size: 3em;
    color: white;
    font-weight: 900;
    text-align: center;
}

.input{
    margin-bottom: 2rem;
}
.input input{
    padding: 1em;
    width: 30em;
}

.input label{
    font-size: 3em;
    color: white;
    font-weight: 600;
}


button{
    background-color: white;
    padding: 1em;
    width: 27em;
    font-size: 1em;
    font-weight: 600;
}

@media(max-width: 1551px){

    h1{
        font-size: 2em;
        text-align: left;
        margin-left: 1em;
    }

    .formulaire{
        margin-left: 1em;
    }

    .input input{
        padding: 1em;
        width: 15em;
    }
    
    .input label{
        font-size: 1em;
        color: white;
        font-weight: 600;
    }
    
    
    button{
        background-color: white;
        padding: 1em;
        width: 14.5em;
        font-size: 1em;
        font-weight: 600;
    }

    .fond{
        padding-bottom: 7.8em;
    }

    .connexion{
        padding-top: 2em
    }
}