body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;;
}

p{
    margin:0px
}
/* FOND GRIS */
.fond{
    background-color: rgb(246, 245, 245);
}

/* DISPLAY BETWEEN */
.between{
    display: flex;
    justify-content: space-between;
}

/* COULEUR ROUGE */
.color{
    color: rgb(233, 56, 60);
}

/* COULEUR MARRON */
.color1{
    color: rgb(138, 93, 54);
}

/* DISPLAY */
.display{
    display: flex;
}

.displays{
    display: flex;
}


/* HEADER */

/* IMAGE SAVOIE */
.savoie{
    margin: 1em;
    margin-left : 2em;
}

/* FIN HEADER */

/* 1ER BLOC */
/* BUTTON RETOUR */
.button{
    margin-top: 4em;
    margin-right: 5em; 
    margin-left: 5em; 
}

/* EXTHETIQUE BUTTON */
.button button{
    padding: 1em;
    border-radius: 0px;
    background-color: rgb(233,56,60);
    color: white;
    border: none 
}

/* MARGIN DU 1ER BLOC */
.margin{
    margin-left: 4.2em;
    margin-top: 1em
}

/* ESTHETIQUE TITRE DU CHALET */
.chalet p{
    text-decoration: underline;
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.5em
}

/* ESTHETIQUE DE PERSONNE */
.personne p {
    text-align: center;
    font-weight: 600;
    font-size : 1.5em;
    margin-top: 0.5em;
    margin-left: 0.5rem
}

/* ESTHETIQUE ADRESSE */
.adresse{
    margin-left: 0.5rem;
    margin-top: 0.4em;
}

/* MARGIN POUR LE LIEUX */
.lieux{
    margin-top: 0.5em;
}

/* JUSTIFICATION POUR PREMIER BLOC */
.justify{
    justify-content: space-around;
    margin-top: 2em
}

/* FORMULAIRE */
.formulaire{
    margin-left: 2rem;
}

/* TITRE RESERVATION */
.reservation{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1em;
}

/* PLACEMENT DE LA BARRE DE RECHERCHE */
.carre{
    margin-right: 2px;
    margin-bottom: 0.4em;
}

/* INPUT DE LA BARRE DE RECHERCHE */
.carre input{
    padding: 1em;
    border: none;
    width: 30rem;
}

/* EXTHETIQUE DES LISTE DE SELECTION */
.carre select{
    padding: 1em;
    border: none;
    width: 31.6rem;
}

/* EXTHETIQUE BUTTON*/
.carre button{
    padding: 2.17em;
    background-color: rgb(233,56,60);
    color: white;
    border: none

}

/* PADDING SUR LE FORMULAIRE */
.padding{
    padding: 2em
}

/* BUTTON RESERVATION */
.button1 button{
    padding: 1em;
    width: 21.1em;
    background-color: rgb(233,56,60);
    border: none;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

/* BLOC DESCRIPTION */
.bloc{
    margin-left: 4.4em;
    margin-top: 2em;
    width: 101.2em;
}

/* TITRE */
h2{
    text-align: center;
    color: rgb(233, 56, 60);
    text-decoration: underline;
    margin-top: 0em;
}

/* PADDING DESCRIPTION */
.description{
    padding: 2rem;
}

/* COULEUR DE LA DESCRIPTION */
.description p{
    color: rgb(138, 93, 54);
}

/* CRITERE */
.critere{
    margin-left: 2em;
    width: 40em;
}

/* PRIX */
.prix{
    background-color: rgb(233,56,60);
    padding: 0.5em;
    text-align: center;
    font-weight: 600;
    color: white;
    font-size: 1.5em
}

/* CAPACITE */
.capacite p{
    padding: 0.5em;
    font-weight: 400;
}

/* PLACEMENT EQUIPEMENT */
.equipement{
    margin-left: 4.4em;
    margin-top: 2em;
}

/* EQUIMENT PLACEMENT BLOC */
.equipement1{
    width: 45.6em;
    margin-right: 2em;
}

/* CHEACKBOX */
.input{
    margin-left: 10em;
    margin-bottom: 1em;
}

/* CHEACKBOX TITRE */
.input label{
    font-size: 1.2em;
}

/*  PLACEMENT CORRECT CHEACKBOX MACHINE A RACLETTE*/
.input1{
    margin-left: 11.2em;
}

/* CONTACT */
.contact{
    text-align: center;
    padding: 0.5em;
    margin-top: 1rem
}

/* ESTHETIQUE MAIL TEL */
.contact p {
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 1em

}

/* ESTHETIQUE CONTACT */
.cont p{
    font-weight: 600;
    margin-bottom: 0.5em; 
    font-size: 1.5em
}

/* ESTHETIQUE MENTION LEGAL */
.mention{
    font-size: 1em
}

@media(max-width: 1551px){
    .display{
        display: block;
        margin-left: 0.5em;
    
    }

    .savoie img{
        width: 60px;
        height: 50px;
    }

    .savoies img{
        width: 120px;
        height: 50px;
        padding-top: 1em;
        padding-left: 2em;
    }
    
    .button{
    margin-top: 1em; 
    margin-left: 1em; 
    }

    .margin{
        margin-left: 0em;
        margin-top: 1em
    }

    .chalet p{
        font-size: 1.4em;
    }

    .personne p {
        font-size : 1em;
    }

    .image img{
        height: 245px;
    }

    .lieu img{
        margin-left: 1em
    }

    .formulaire{
        margin-left: 0px;
    }

    .padding{
        padding: 1em;
    }

    .carre input{
        padding: 1em;
        border: none;
        width: 15rem;
    }
    
    .carre select{
        width: 16.7rem;
    }
    
    .carre button{
        padding: 2.17em;
    }

    .button1 button{
        width: 11.1em;
    }

    .bloc{
        margin-top: 2em;
        width: 19em;
    }

    .critere{
        margin-left: 0em;
        margin-top: 1em;
        width: 19em;
    }

    .equipement{
        margin-left: 0.6em;
        margin-top: 2em;
    }
    
    /* EQUIMENT PLACEMENT BLOC */
    .equipement1{
        margin-top: 1em;
        width: 17em;
        margin-right: 0em;
    }
    
    /* CHEACKBOX */
    .input{
        margin-left: 0em;
    }
    
    /* CHEACKBOX TITRE */
    .input label{
        font-size: 1.2em;
    }
    
    /*  PLACEMENT CORRECT CHEACKBOX MACHINE A RACLETTE*/
    .input1{
        margin-left: 0em;
    }





}